
@media (max-width: 521px) {
    nav ul li {
        display: none;
        background-color: aqua;
    }
    .text {
        top: 26%;
        right: 14%;
        left: 16%;
        transform: translate(-0%, -20%);
        padding: 0px;
        margin: 0 auto;
    }
    header img {
        width: 70%;
        right: 14%;
        top: 47%;
        margin: 0 auto;
    }

    .card-item {
        width: 88%;
    }

}

@media (max-width: 588px) {
    .card-item img {
        max-width: 67%;
    }
}

@media (max-width: 613px) {
    .right {
        margin-top: 0px;
        margin-left: 5px;
        text-align: left;
    }
}


@media (max-width: 735px) {
    .right {
        margin: 0px 0px 0px 10px;
    }
}

@media (max-width: 614px) {
    .about-content {
        height: 492px;
    }
    
    .left {
        display: none;
    }
    
    .rigth {
        margin-top: 40px;
    }
}